<!-- menu.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'data' %}">Страница данных</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'test' %}">Страница тестов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">Обо мне</a>
            </li>
        </ul>
    </div>
</nav>
