<!-- data.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block content %}
    <div class="container">
        <h1>Все, что нужно знать о немецких овчарках</h1>

        <h2>Основная информация</h2>
        <ul>
            <li><strong>Средний вес:</strong> 30-40 кг (кобель), 22-32 кг (сука)</li>
            <li><strong>Рост в холке:</strong> 60-65 см (кобель), 55-60 см (сука)</li>
            <li><strong>Продолжительность жизни:</strong> 9-13 лет</li>
        </ul>

        <h2>Темперамент</h2>
        <p>Немецкие овчарки известны своим умом, преданностью и обучаемостью. Они обладают высоким уровнем энергии и требуют регулярных тренировок и занятий. Отличаются высоким уровнем интеллекта, поэтому они часто используются в полиции и спасательных службах.</p>

        <h2>История породы</h2>
        <p>Немецкая овчарка была выведена в Германии в конце 19 века для охраны стад овец. Со временем порода получила популярность благодаря своей универсальности, физическим данным и уму. Сегодня немецкие овчарки используются не только как служебные собаки, но и как отличные семейные компаньоны.</p>

        <h2>Уход за немецкой овчаркой</h2>
        <ul>
            <li><strong>Физическая активность:</strong> Немецкие овчарки нуждаются в регулярных тренировках и длительных прогулках.</li>
            <li><strong>Уход за шерстью:</strong> Эти собаки линяют круглый год, поэтому регулярное вычесывание необходимо.</li>
            <li><strong>Здоровье:</strong> Порода склонна к дисплазии тазобедренных суставов, поэтому важно проводить регулярные осмотры у ветеринара.</li>
        </ul>

        <img src="{% static 'img/gs.jpg' %}" class="img-fluid mt-4" alt="Немецкая овчарка">
    </div>
{% endblock %}
